<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.TRANSMIT_IR" />
    <!--    收起通知栏需要申请权限-->
    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Storage"
            tools:targetApi="31">

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.Storage"
        >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <action android:name="android.service.quicksettings.action.QS_TILE" />
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity android:name=".InfraredActivity" android:exported="true">
            <intent-filter>
                <action android:name="com.cohiiPad.storage.ACTION_START" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.cohiiPad.storage.MY_CATEGORY" />
            </intent-filter>
        </activity>
        <service
                android:name=".TileServiceActivity"
                android:label="@string/infrared"
                android:icon="@drawable/endurance_3"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.service.quicksettings.action.QS_TILE" />
                </intent-filter>
        </service>

        <receiver
                android:name=".LampBroadcastReceiver"
                android:enabled="true"
                android:exported="true"
                android:permission="TODO"
                tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.cohii.storage.MY_BROADCAST"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>